.landing {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    height: 100%;
    margin-left: 10%;
    font-family: var(--font-text);
    font-style: normal;
    color: var(--font-colour);
}

.greeting {
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    margin: 0;
}

.flare {
    color: var(--primary-green);
}

.name {
    font-weight: 700;
    font-size: 96px;
    line-height: 5rem;
    margin-top: 16px;
    margin-bottom: 0;
}

.description {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    margin-top: 16px;
    margin-bottom: 0;
}

.linksWrapper {
    margin-top: 16px;
    margin-bottom: 0;
}