.toggleWrapper {
    position: relative;
    width: 96px;
}

.toggle {
    appearance: none;
    width: 96px;
    height: 40px;
    border-radius: 32px;
    outline: var(--toggle-border-colour) solid 2px;
    cursor: pointer;
    position: relative;
    margin: 0;
}

.toggle::after {
    content: '';
    width: 44px;
    height: 24px;
    margin: 8px;
    background-color: var(--toggle-slider-colour);
    border-radius: 32px;
    position: absolute;
    left: 0;
    transition: left 0.1s ease-in;
}

.toggle:checked::after {
    left:36px;
}

.iconWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 16px;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 32px);
    pointer-events: none
}

svg {
    width: 16px;
    height: 16px;
    fill: var(--toggle-border-colour);
    stroke: var(--toggle-border-colour);
}