.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 72px;
    background-color: var(--header-background-colour);
    box-shadow: var(--header-border-shadow);

    font-family: var(--font-text);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logoWrapper {
    margin: 16px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 16px;
}

.navButtons {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navLink {
    pointer-events: auto;
    margin-right: 16px;
    cursor: pointer;
    text-decoration: none;
    color: var(--font-colour);

}

.navButtons li:hover {
    transform: scale(110%);
}

.navButtons li:nth-child(1) a span:first-child {
    color: var(--primary-green);
}

.navButtons li:nth-child(2) span:first-child {
    color: var(--primary-green);
}

.navButtons li:nth-child(3) span:first-child {
    color: var(--primary-green);
}

.navNumber {
    font-family: var(--font-numerical);
}