.about {
    width: 100%;
    min-height: calc(100vh - 144px);
    height: fit-content;
    color: var(--font-colour);
    font-family: var(--font-text);
    margin-top: 144px;
}

.flare {
    color: var(--primary-green);
    font-family: var(--font-numerical);
}

.contentGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.5fr repeat(2, 1fr);
    grid-column-gap: 3em;
    grid-row-gap: 3em;

    height: 100%;
    box-sizing: border-box;
}

.aboutMe {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    background-color: var(--card-background-colour);
    padding: 32px;
    border-radius: 8px;
}

.aboutMe > p {
    padding: 0;
    margin: 0;
    color: var(--font-colour);
    font-family: var(--font-text);
    font-weight: 500;
}

.education {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--font-colour);
    background-color: var(--card-background-colour);
    padding: 32px;
    border-radius: 8px;
}

.certs {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--font-colour);
    background-color: var(--card-background-colour);
    padding: 32px;
    border-radius: 8px;
}

.skills {
    grid-area: 3 / 1 / 4 / 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--font-colour);
    background-color: var(--card-background-colour);
    padding: 32px;
    border-radius: 8px;
}

.skillsWrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: stretch;
    margin-top: 8px;
}

.contentGrid svg {
    height: 24px;
    width: 24px;
    margin: 8px;
    fill: var(--secondary-purple);
}

.contentGrid > div > ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contentGrid ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-colour);
    font-family: var(--font-text);
}

.sectionHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-colour);
    font-family: var(--font-numerical);
}

.skillsList {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.skillsList > ul {
    padding: 0;
}

.skillsList > ul > li {
    list-style-type: lower-alpha;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--font-colour);
    font-family: var(--font-numerical);
}


h2 {
    margin: 0;
}

h3 {
    margin: 0
}