.contact {
    min-height: calc(100vh - 144px);
    height: fit-content;
    color: var(--font-colour);
    font-family: var(--font-text);
    margin-top: 144px;
}

.flare {
    color: var(--primary-green);
    font-family: var(--font-numerical);
}

.sectionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    /*background-color: var(--card-background-colour);*/
    /*border-radius: 8px;*/
    padding: 32px;
}

.buttonWrapper {
    margin: 32px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-height: 600px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--primary-green);
    border-radius: 16px;
    font-size: x-large;
    padding: 32px;
}

.button > p {
    flex: 2;
    color: var(--font-body-light);
    text-align: center;
    margin: 0;
    width: fit-content;
}

.content {
    margin-right: 16px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-text);
    font-size: x-large;
}

.imageWrapper {
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
}

.imageWrapper > svg {
    height: 75%;
    width: 75%;
    fill: var(--font-body-light);
    stroke-width: 0;
}