.projects {
    width: 100%;
    min-height: calc(100vh);
    height: fit-content;
    color: var(--font-colour);
    font-family: var(--font-text);
}

.projectsListWrapper {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
}

.flare {
    color: var(--primary-green);
    font-family: var(--font-numerical);
}